image: node:18

pages:
  stage: deploy
  script:
    - node --version
    - npm --version
    - npm ci --prefer-offline --no-audit
    - npm run build
    - mv dist public
    - ls -la public
  artifacts:
    paths:
      - public
  cache:
    paths:
      - node_modules/
  only:
    - master
